.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
app-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

router-outlet {
  display: block;
  margin-top: 60px;
}
